{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_modify %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}&rsaquo; Upload
</div>
{% endblock %}
{% block content %}
    <div id="content-main">
        <form enctype="multipart/form-data" method="post" action="{{ form_url }}">
            {% csrf_token %}
            <input type="file" name="artists_file"/>
            <p/>
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}